#dashboard {
  padding: 0;
  margin: 0;
}

#divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

#create-button {
  background-color: #3da9fc;
  border-radius: 10px;
  padding: 15px;
}

#join-button {
  color: #3da9fc;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

#create-input {
  border: transparent;
  margin-top: 18vh;
  margin-bottom: 18vh;
  padding: 0;
  font-size: 18px;
}

#join-input {
  border: transparent;
  color: white;
  background-color: transparent;
  margin-top: 18vh;
  margin-bottom: 18vh;
  padding: 0;
  font-size: 18px;
}

#left-dashboard {
  position: relative;
  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 100vh;
}

#right-dashboard {
  position: relative;
  background-color: #3da9fc;
  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 100vh;
  height: 100vh;
}

#inner-left h1 {
  font-size: 36px;
  color: #094067;
}

#inner-right h1 {
  font-size: 36px;
  color: white;
}
