#menubar {
  background: transparent;
  position: absolute;
  top: 30px;
}

.no-border {
  border: none !important;
}

.no-border::before {
  display: none !important;
}

.item.text {
  font-size: 1.25em;
}

.logo {
  width: 200% !important;
  height: 60px;
  left: 0;
}

.navbar-container {
  padding-left: 5.5vw;
}
